<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="..\stylesheets\cosmetic.css">
    <link rel="stylesheet" type="text/css" href="..\stylesheets\toolbar.css">
    <link rel="stylesheet" type="text/css" href="..\stylesheetsleft-panel.css">	
    <title>Incident Management Tool</title>

</head>

<body>
	
    <div class="topnav">
        <a class="active", href="TTTPage.html">Home</a>
        <a href="#CreateNewIncident">Create New Incident</a>
        <a href="#OpenIncident">Open Incident</a>
        <a href="#ply">PLY</a>
        <a href="#has">HAS</a>
        <a href="#Search">Search</a>
	<input type="text" placeholder="Site Search...">
    </div>

    <div class="sidenav">

        <a href="#IMT-Home">IMT-Home</a>
        <a href="createincident.html">Create New Incident</a>
        <a href="#OpenIncidents">Open Incidents</a>
        <a href="#QuickList">Quick List</a>
        <a href="#TTT">Transitory Team Referral</a>
	<a href="#over21days">Open Over 21 days</a>
	<a href="#AAC-consulation">AAC Consultation</a>
	<a href="#Stage 3">Stage3</a>
	<a href="#Segment 5">Segment 5</a>
	<a href="#LocalTriage">Local Triage</a>

    </div>		

    <div class ="main" style="padding-left:16px">
			
    </div>
</body>
</html>